a{
    background-color: #eee;
    padding: 20px;
    display: inline-block;
}

.hide{
    display: none;
}

.content-flex{
    display: flex;
    width: 1280px;
    justify-content: flex-start;
    height: 500px;
    align-items: center;
    flex-wrap: wrap;
}

.content-flex p{
    padding: 10px;
    width: 300px;
}